.caixa_width {
    /*espessura, tipo e a cor => width, style e color*/
    /*border-width: 2px;
    border-style: solid;
    border-color: cadetblue;*/

    /*shorthand => vários valores na mesma propriedadade*/
    border: 2px solid cadetblue;

    width: 200px;
}

.imagem_width{
    width: 400px;
}

.caixa_height{
    border: 1px dashed #D4B483;
    height: 100px;
    width: 100px;
}